ion-content.home {
  background-color: #ecf0f1;
}

.my-card {
  color: white;
  transform: translate(0,-150px);
  background: #9b59b6;
  height: 150px;
  padding: 10px;
  
  h1 {
    font-size: 4rem;
    font-weight: 100;
    margin: 0;
  }
  
  p {
    color: white;
  }
  
  p.body {
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-top: 5px;
  }
  
  p.name {
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    margin-top: 5px;
  }
}
